<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.walkinclinic">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangeService"></activity>
        <activity android:name=".AddClinic" />
        <activity android:name=".EditDataActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".Employee" />
        <activity android:name=".ClinicList" />
        <activity android:name=".ChooseClinic" />
        <activity android:name=".SelectClinic" />
        <activity android:name=".DatabaseHelper" />
        <activity android:name=".Admin" />
        <activity android:name=".PostLoggin" />
        <activity android:name=".CreatePatient" />
        <activity android:name=".CreateEmployee" />
        <activity
            android:name=".Services"
            android:parentActivityName=".ClinicList" />
        <activity android:name=".Patient" />
        <activity android:name=".CreatePerson" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>